@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-fade-in {
        animation: fadeIn 0.8s ease-in-out forwards;
    }

    .animate-slide-in-down {
        animation: slideDown 0.5s ease-out;
    }

    .cube-tile {
        transition: background-color 0.5s ease, transform 0.5s ease;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: scale(0.95);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}